.btn-secondary{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight:500;
    min-width: 250px;
    min-height: 40px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
}
.btn-secondary:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.vertical{
    display: flex;
    align-items: center;
}

.divider{
    background-color: black;
    display: none;
}

.square-thumbnail{
    width: auto;
    max-width: 306px;
    max-height: 306px;
}

.square-social-logo{
    width: 100%;
    max-width: 150px;
}

.skill-list{
    list-style-type: none;
    display: flex;
    align-items: baseline;
}

.skill-list li{
    margin-right: 10px;
}

.title-h2{
    font-size: 26px;
    font-weight: 600;
}


.italic{
    font-style: italic;
}

.card-link{
    color: black;
    text-decoration: none;
}

.card-link:hover{
    color: black;
    text-decoration: underline;
}

.card-link:active{
    color: black;
    text-decoration: underline;
}